:root {
    --bgcolor: #F7F6F4;
    --light-bgcolor: #FFF;
    --font-color: #111;
    --light-font-color: #555;
    --border-color: #D3D3D3;
    --link-color: #2222DD;
}
body {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5em;
    color: var(--font-color);
    background: var(--bgcolor);
    word-break: break-all;
    font: 14px Verdana, Geneva, "PingFang SC", "微软雅黑", "黑体", sans-serif;
}
h1,h2,h3 { font-size: 1.1em }
h4,h5 { font-size: 1em; font-weight: normal;}
h6 { font-size: .8em; font-weight: normal;}
body p { line-height: 1.5; margin: .5em 0;}
a:link {color: var(--link-color);}
a { text-decoration : none;}
a:hover { text-decoration : underline; }
p > code {
    color: var(--bgcolor);
    background: var(--font-color);
    padding: 1px 2px;
    font-family: "Lucida Console", Courier, monospace;
}
pre {
    padding: .5em 1em;
    overflow-x: auto;
    border: var(--border-color) solid 1px;
}
blockquote {
    color: var(--light-font-color);
    margin: 1em 0;
    padding: 0 1em;
    background: var(--light-bgcolor);
    border-left: var(--light-font-color) solid 3px;
    border-top: var(--border-color) solid 1px;
    border-bottom: var(--border-color) solid 1px;
    border-right: var(--border-color) solid 1px;
}
figcaption {
    color: var(--light-font-color);
    text-align: center;
}
figure {
    margin: auto;
    font-size: .8em;
}
table td, th {
    background: var(--light-bgcolor);
    border: var(--border-color) solid 1px;
}
img {
    display: block;
    max-width: 70.72%;
    max-height: 750px;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.summary-title::before {
    content: "» ";
}
header { margin-bottom: .5em; }
footer { margin-top: .5em; }
@media (prefers-color-scheme: dark) {
    html, img { filter: invert(1) hue-rotate(180deg); }
    img { opacity: .7; }
}
