:root {
    --bgcolor: #F7F6F4;
    --light-bgcolor: #FFF;
    --font-color: #000;
    --light-font-color: #555;
    --border-color: lightgray;
}
html { background: var(--bgcolor);}
body {
    color: var(--font-color);
    font-size: 16px;
    font-family: Palatino, palatino linotype, palatino lt std, latin modern roman, source-han-serif-sc, 'source han serif sc', 'source han serif cn', 'source han serif tc', 'source han serif tw', 'source han serif', 'noto serif cjk sc', songti sc,microsoft yahei, serif;
    max-width: 800px;
    margin: 15px auto;
    padding: 20px 40px;
    border: lightgray solid 1px;
    background: var(--bgcolor);
    box-shadow: 0 0 15px lightgray;
    box-sizing: border-box;
}
strong, b { font-weight: 700; }
a { text-decoration: none; }
a:hover { text-decoration : underline; }
li {line-height: 1.5em;}
ul li { list-style-type: square; }
p { line-height: 1.75em; margin: 1em 0; }
p > code {
    color: var(--bgcolor);
    background: var(--font-color);
    padding: 1px 2px;
    font-family: "Lucida Console", Courier, monospace;
}
table td, th {
    background: var(--light-bgcolor);
    border: var(--border-color) solid 1px;
}
pre {
    padding: 1em;
    overflow-x: auto;
    border: var(--border-color) solid 1px;
}
blockquote {
    color: var(--light-font-color);
    font-family: palatino linotype, book antiqua,Palatino, stkaiti, kaiti, 楷体, simkai, dfkai-sb, nsimsun, serif;
    padding: .1px 1em;
    background: var(--light-bgcolor);
}
img {
    display: block;
    max-width: 70.72%;
    max-height: 750px;
    margin: .5em auto;
}
figure {
    margin: 0 auto;
    padding: 1em 0;
}
figcaption {
    color: var(--light-font-color);
    text-align: center;
    font-size: .875em;
}
header { 
    text-align: left; 
    padding: 1em 0; 
    color: var(--light-font-color);
}
footer { 
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: right; 
    color: var(--light-font-color);
    font-size: .875em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.summary-title {
    background: lightgray;
    border-left: gray solid 3px;
    padding-left: 4px; 
}
.pagination {
    color: var(--light-font-color);
}
@media screen and (max-width: 800px) {
    body {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
    }
}
@media screen and (max-width: 550px) {
    body {
        padding: 0 20px;
        box-shadow: none;
    }
}