<article>
    <h1 class="summary-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <time>{{ .Date.Format (default "01.02.2006 15:04" .Site.Params.dateFmt) }}</time>
    {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    <p>
        {{ if .Params.banner }} <img style="max-width: 29.28%; max-height: 100px; float: right;margin: 0 0 1em 1em;" src="{{ .Params.banner }}" alt="image"/>{{ end }}
        {{ .Summary }}
        {{ if .Truncated }}
            <a href="{{ .Permalink }}">Read more&hellip;</a>
        {{ end }}
    </p>
</article>