<article>
    <h2 class="summary-title">{{ .Title }}</h2>
    <div class="summary-content">
        <div>
        {{ if .Params.banner }} <img style="max-width: 256px; max-height: 126px; float: right;margin: 0 0 1em 1em;" src="{{ .Params.banner }}" alt="image"/>{{ end }}
        <p> {{ .Summary }} </p>
        </div>
        <div class="summary-footer">
            <div style="color: gray;font-style: italic;">
                发布于 <time>{{ .Date.Format (default "01.02.2006 15:04" .Site.Params.dateFmt) }}</time>
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>
                {{ end }}
            </div>
            <div>
                {{ if or .Truncated .Params.summary }}
                <a href="{{ .Permalink }}">阅读全文《{{ .Title }}》</a>
                {{ end }}
            </div>
        </div>
    </div>
</article>