<article>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <b><time>{{ .Date.Format (default "01.02.2006 15:04" .Site.Params.dateFmt) }}</time></b>
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    <p>
        {{ if .Params.banner }} <img style="max-width: 29.28%; max-height: 150px; float: right;margin: 0 0 14px 14px;" src="{{ .Params.banner }}" alt="image"/>{{ end }}
        {{ .Summary }}
        {{ if .Truncated }}
            <a href="{{ .Permalink }}">Read more...</a>
        {{ end }}
    </p>
</article>
