<header>
    {{ strings.Repeat ( .Site.Title | len | add 2 ) "~" }}<br>
    &nbsp;<a href="{{ .Site.BaseURL }}"><b>{{ .Site.Title }}</b></a>{{ if .Site.Params.subtitle }} <div style="float: right;">{{ .Site.Params.subtitle }}</div>{{ end }}<br> 
    {{ strings.Repeat ( .Site.Title | len | add 2 ) "~" }}
    <nav>
        <a href="/">Home</a>.
        {{ with .Site.Menus.main }}
        {{ range . }}
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>.
        {{ end }}
    </nav>
    {{ end }}
</header>